body {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
.title {
    width: 100%;
}
.title h2 {
    font-size: 18px;
    font-weight: normal;
    display: block;
    height: 40px;
    line-height: 40px;
    background: #262626;
    border-bottom: 1px solid #333;
    color: #fff;
    cursor: pointer;
    padding: 0 10px;
    margin: 0 auto;
}
.title i {
    margin-left: 10px;
}
.content {
    display: block;
    width: 100%;
}
.content img {
    width: 100%;
    display: block;
}
